#more30503{background-image: url(http://cdn.myanimelist.net/images/anime/4/75627.jpg);}
#more31240{background-image: url(https://myanimelist.cdn-dena.com/images/anime/11/79410.jpg);}
#more31580{background-image: url(https://myanimelist.cdn-dena.com/images/anime/13/77968.jpg);}
#more28249{background-image: url(https://myanimelist.cdn-dena.com/images/anime/6/73588.jpg);}
#more31043{background-image: url(https://myanimelist.cdn-dena.com/images/anime/10/77957.jpg);}
#more31478{background-image: url(https://myanimelist.cdn-dena.com/images/anime/3/79409.jpg);}
#more28999{background-image: url(https://myanimelist.cdn-dena.com/images/anime/12/74683.jpg);}
#more28977{background-image: url(https://myanimelist.cdn-dena.com/images/anime/3/72078.jpg);}
#more28891{background-image: url(https://myanimelist.cdn-dena.com/images/anime/9/76662.jpg);}
#more28825{background-image: url(https://myanimelist.cdn-dena.com/images/anime/12/75086.jpg);}
#more31405{background-image: url(https://myanimelist.cdn-dena.com/images/anime/9/77523.jpg);}
#more31798{background-image: url(https://myanimelist.cdn-dena.com/images/anime/6/78466.jpg);}
#more28623{background-image: url(https://myanimelist.cdn-dena.com/images/anime/12/79164.jpg);}
#more32438{background-image: url(https://myanimelist.cdn-dena.com/images/anime/4/79413.jpg);}
#more30015{background-image: url(https://myanimelist.cdn-dena.com/images/anime/4/80389.jpg);}